<html data-ng-app="website" lang="en"><!-- Mirrored from template67965.motopreview.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Aug 2019 22:31:39 GMT --><!-- Added by HTTrack --><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>


    <meta content="text/html; charset=utf-8" http-equiv="content-type"><!-- /Added by HTTrack -->
    <meta charset="utf-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


    <meta content="Home" property="og:title">
    <meta content="index.html" property="og:url">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{{ asset('Front/steedex_template/mt-includes/css/assets.minf6d5.css') }}" rel="stylesheet">

    <link href="{{ asset('Front/steedex_template/assets/css/styles.css') }}" id="moto-website-style" rel="stylesheet">
</head>
<body class="moto-background moto-website_live">
<div class="page">
    <section class="content page-1 moto-section" data-container="section" data-widget="section" id="section-content">
        <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-spacing="aaaa" data-widget="block" style="">
            <div class="container-fluid">
                <div class="row">

<style>
    .contenue.parag ul li {
        list-style-type: none;
    }

    .container h1 {
        text-align: center;
        font-size: 35px;
        padding-bottom: 23px !important;
        margin-bottom: 20px !important;
        /* display: unset; */
        border-bottom: 1px solid;
    }

    .paragraph-text {
        /* font-size: 14px !important; */
        margin-bottom: 30px;
    }

    .contenue.parag {
        font-size: 16px !important;
        font-family: sans-serif;
        line-height: 29px;
        margin-top: 18px;
        margin-left: 16px;
    }
</style>
                    {% include 'default/partials/header.html.twig' %}
                   <div class="confidentialite-content">
                       <hr>

                       <div class="container">
                               <h1>Politique de confidentialité et conditions d'utilisation</h1>
                               <div class="paragraph-text">
                                   <h3>Article 1 - Objet</h3>
                                   <div class="contenue parag">
                                       Le présent contrat est une convention entre nos clients et nos, qui a pour objet à définir :

                                       <ul>
                                           <li class="li li-des">                                       ✓ Les caractéristiques essentielles de nos services
                                           </li>
                                           <li class="li li-des">                                       ✓ Le prix ou son mode de calcul
                                           </li>
                                           <li class="li li-des">                                       ✓ Les modalités de paiement
                                           </li>
                                           <li class="li li-des">                                       ✓ La date et le délai à exécuter les demandes clients
                                           </li>
                                           <li class="li li-des">                                       ✓ Nos obligations et ainsi que de nos clients
                                           </li>
                                           <li class="li li-des">                                       ✓ La confidentialité et la sécurité
                                           </li>
                                           <li class="li li-des">                                       ✓ la garantie et la réclamation
                                           </li>
                                           <li class="li li-des">                                       ✓ La durée de ce contrat et la résiliation
                                           </li>
                                        </ul>

                                   </div>
                               </div>







                           <div class="paragraph-text">
                               <h3>Article 2 - Durée</h3>
                               <div class="contenue parag">
                                   Ce contrat est passé pour une durée non déterminée. Il arrivera à son terme suite à l’accord
                                   de deux parties.


                               </div>
                           </div>




                           <div class="paragraph-text">
                               <h3>Article 3 - Les modalités</h3>
                               <div class="contenue parag">
                                   Vous allez avoir un carnet qui contient des bons avec un tarif imbattable</b>, le
                                   nombre des bons sera en fonction de la destination. Vous allez avoir une <b>liste</b> avec les
                                   différents trajets et les nombres des bons, bien détaillée. Evidement, vous allez aussi avoir
                                   un <b>devis</b> pour chaque prestation.
                                   Le règlement de nos prestations prévues ci-dessus sera payé, au choix du client soit par
                                   chèque ou en espèce ou par versement bancaire, dès la <b>réception</b> de la facture avant le 25
                                   du mois, droits et taxes en sus


                               </div>
                           </div>


                           <div class="paragraph-text">
                               <h3>Article 4 - Délais</h3>
                               <div class="contenue parag">
                                   <b>Steedex</b> s'engage à une exécution immédiate de vos courses dans un délai entre 1h heure
                                   et 48 heures, tout dépend de délais de traitement de votre demande et la distance, sans
                                   perdre du temps. Votre course est une priorité absolue.



                               </div>
                           </div>



                           <div class="paragraph-text">
                               <h3>Article 5 - Nature des obligations</h3>
                               <div class="contenue parag">
                                   Pour l'accomplissement des diligences et prestations prévues à l'<b>Article 1</b> ci-dessus, <b>Steedex</b>
                                   s'engage à donner ses meilleures compétences, conformément aux règles de l'art.
                                   L'exécution de votre course dans les délais est un engagement de notre part!



                               </div>
                           </div>





                       </div>
                    {% include 'default/partials/footer.html.twig' %}


                </div>
    </section>
</div>
<div class="moto-back-to-top-button" data-moto-back-to-top-button="">
    <a class="moto-back-to-top-button-link"><span class="moto-back-to-top-button-icon fa"></span></a>
</div>
<div class="moto-widget-callback moto-widget-callback_closed moto-preset-default" data-moto-widget-callback="">
    <div class="moto-widget-callback__wrapper">
        <div class="moto-widget-callback__open-button moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_open-button"></div>
            <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-phone"></div>
        </div>
        <div class="moto-widget-callback__body moto-widget-callback__body_more-details-enabled" style="display: none;">
            <div class="moto-widget-callback__agent moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
                <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-user-circle-o"></div>
            </div>
            <div class="moto-widget-callback__description moto-widget-text">
                <p class="moto-text_system_9" style="text-align: center;">John Smith</p>
                <p class="moto-text_normal" style="text-align: center;">agent</p>
                <p class="moto-text_system_8" style="text-align: center;"><a class="moto-link" data-action="call" href="tel:+112233445566"><span class="fa"></span> +112233445566</a></p>
            </div>
            <div class="moto-widget-callback__more-details-wrapper">
                <hr class="moto-widget-callback__more-details-divider">
                <div class="moto-widget-callback__more-details">
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-telegram_chat" href="https://t.me/#" target="_blank" title="Telegram"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-whatsapp_chat" href="https://wa.me/#" target="_blank" title="WhatsApp"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-fb_messenger_chat" href="https://m.me/#" target="_blank" title="Facebook Messenger"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-skype_chat" href="skype:#?chat" target="_blank" title="Skype (Chat)"></a>
                    </div>
                </div>
            </div>
            <div class="moto-widget-callback__more-details-button-wrapper">
                <i class="moto-widget-callback__more-details-button fa fa-angle-down"></i>
            </div>
            <div class="moto-widget-callback__close-button">
                ×
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css"/>

<!------ JS CODE ---------->

<script language="javascript">






    $(document).ready(function(){
        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });



</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>










</body></html>