<html data-ng-app="website" lang="en"><!-- Mirrored from template67965.motopreview.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Aug 2019 22:31:39 GMT --><!-- Added by HTTrack --><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>




    <meta content="text/html; charset=utf-8" http-equiv="content-type"><!-- /Added by HTTrack -->
    <meta charset="utf-8">
    <title>SteedEx | Acceuil</title>


    <meta content="Home" property="og:title">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">










</head>
<body class="moto-background moto-website_live" data-spy="scroll" data-target=".seif1" data-offset="50">
<div class="page">
    <section class="content page-1 moto-section" data-container="section" data-widget="section" id="section-content">
        <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-spacing="aaaa" data-widget="block" style="">
            <div class="container-fluid">
                <div class="row">

                    <!------ Header ---------->

                    {% include 'default/partials/header.html.twig' %}

                    <!------ HomeSlider ---------->

                    {% include 'default/partials/homeslider.html.twig' %}

                    <!------ About us page ---------->

                    {% include 'default/partials/about.html.twig' %}

                    <!------ Service page ---------->

                    {% include ':default/partials:services.html.twig' %}

                    <!------ Service Testmotionals ---------->

                    {% include 'default/partials/testimonials.html.twig' %}

                    <!------ Conuter page ---------->

                    {% include 'default/partials/counter.html.twig' %}

                    <!------ Clients page ---------->

                    {% include 'default/partials/client.html.twig' %}

                    <!------ Devis page ---------->

                    {% include 'default/partials/devis.html.twig' %}

                    <!------ Footer page ---------->

                    {% include 'default/partials/footer.html.twig' %}


        </div>
    </section>
</div>
<div class="moto-back-to-top-button" data-moto-back-to-top-button="">
    <a class="moto-back-to-top-button-link" href="#"><span class="moto-back-to-top-button-icon fa"></span></a>
</div>
<div id="call1" class="moto-widget-callback moto-widget-callback_closed moto-preset-default"  data-moto-widget-callback="">

    <div class="moto-widget-callback__wrapper"  >

        <div id="phone1none" class="moto-widget-callback__open-button moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_open-button"></div>
            <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-phone"></div>
        </div>
        <div id="con1display" class="moto-widget-callback__body moto-widget-callback__body_more-details-enabled" style="display: none;">
            <div class="moto-widget-callback__agent moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
                <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-user-circle-o">


                </div>
            </div>
            <div class="moto-widget-callback__description moto-widget-text">
                <p class="moto-text_system_9" style="text-align: center;">Youssed Steedex</p>
                <p class="moto-text_normal" style="text-align: center;">Livreur</p>
                <p class="moto-text_system_8" style="text-align: center;"><a class="moto-link" data-action="call" href="tel:+21655870049"><span class="fa"></span> +21655870049</a></p>
            </div>
            <div class="moto-widget-callback__more-details-wrapper">
                <hr class="moto-widget-callback__more-details-divider">
                <div class="moto-widget-callback__more-details">
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-telegram_chat" href="https://t.me/#" target="_blank" title="Telegram"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-whatsapp_chat" href="https://wa.me/#" target="_blank" title="WhatsApp"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-fb_messenger_chat" href="https://m.me/#" target="_blank" title="Facebook Messenger"></a>
                    </div>
                    <div class="moto-widget-callback__more-details-item">
                        <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div><a class="moto-widget-callback__link moto-widget-callback__link-skype_chat" href="skype:#?chat" target="_blank" title="Skype (Chat)"></a>
                    </div>
                </div>
            </div>
            <div class="moto-widget-callback__more-details-button-wrapper">
                <i class="moto-widget-callback__more-details-button fa fa-angle-down"></i>
            </div>
            <div id="closethis" class="moto-widget-callback__close-button">
                ×
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ asset('js/anim.js') }}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css"/>

<!------ JS CODE ---------->

<script language="javascript">












    $(document).ready(function(){


        var $element = $("#call1");
        var $openButton = $("#call1").find('.moto-widget-callback__open-button');
        var $closeButton = $("#call1").find('.moto-widget-callback__close-button');
        var $moreDetailsButton = $("#call1").find('.moto-widget-callback__more-details-button');
        var $moreDetails = $("#call1").find('.moto-widget-callback__more-details-wrapper');
        var $callbackBody = $("#call1").find('.moto-widget-callback__body');
        var ANIMATION_DURATION = 100;

        function openCallback() {
            if ($element.hasClass('moto-widget-callback_opened') || $element.hasClass('moto-widget-callback_opening') || $element.hasClass('moto-widget-callback_closing')) {
                console.lgo('inside if');
                return;
            }
            console.log("outside if");
            $element.removeClass('moto-widget-callback_closed');
            $element.addClass('moto-widget-callback_opening');

            // firstly we have to set normal width and only then show content and hide button
            $callbackBody.animate({ width: 280 }, ANIMATION_DURATION / 2, function() {
                $openButton.slideUp(ANIMATION_DURATION / 2);
                $callbackBody.slideDown(ANIMATION_DURATION / 2, function() {
                    $element.removeClass('moto-widget-callback_opening');
                    $element.addClass('moto-widget-callback_opened');
                });
            });
        }

        function closeCallback() {
            if ($element.hasClass('moto-widget-callback_closed') || $element.hasClass('moto-widget-callback_opening') || $element.hasClass('moto-widget-callback_closing')) {
                return;
            }

            $element.removeClass('moto-widget-callback_opened');
            $element.addClass('moto-widget-callback_closing');
            $openButton.slideDown(ANIMATION_DURATION);
            $callbackBody.slideUp(ANIMATION_DURATION, function() {
                $element.removeClass('moto-widget-callback_closing');
                $element.addClass('moto-widget-callback_closed');
            });
        }

        function toggleModeDetails() {
            if ($callbackBody.hasClass('moto-widget-callback__body_more-details-opened')) {
                $moreDetails.slideUp();
                $callbackBody.removeClass('moto-widget-callback__body_more-details-opened');
            } else {
                $moreDetails.slideDown();
                $callbackBody.addClass('moto-widget-callback__body_more-details-opened');
            }
        }


        $openButton.click(function() {
            openCallback();
        });


        $closeButton.click(function() {
            closeCallback();
        });

        $moreDetailsButton.click(function() {
            toggleModeDetails();
        });






        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });



</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>










</body></html>