.moto-widget-menu.moto-preset-default .moto-widget-menu-list>.moto-widget-menu-item:not(:first-child) {
    margin-left: 19px;
}
h1.moto-text_system_4 {
    line-height: 78px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #14b5f0 !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.menu {
    width:100%;
}
.coloromove {

    background-color: #353159 !important;
}

.fixed {
    position:fixed;
    top:0;
    background-color: #353159;
}

body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}

.tatsu-row-wrap {
    border:0px solid ;
}

.tatsu-single-image-inner {
    border: 0px solid;
}
.tatsu-BJ-IEuzy4Q.tatsu-section {
    background: linear-gradient(45deg, #1BB2B7  0%, rgba(97,205,244,1) 100%) !important;
    border: 0;
}
.tatsu-column-inner {

    top: 3px;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.menu {
    width:100%;
}
.fixed {
    position:fixed;
    top:0;
    background-color: #353159;
}


nav.navbar.navbar-inverse {
    /* padding-top: 6px; */
    height: 69px !important;
    /* display: table-column; */
    margin: 0px !important;
    /* margin-top: 9px; */
    background-color: #2220;
    border-radius:0px !important;
    border: 0px solid;
}
nav.navbar.navbar-inverse li a{
    color:white !important;
}

ul.nav.navbar-nav.moto-widget-menu-list.moto-widget-menu-list_horizontal li a{
    height: 69px !important;
    padding-top:25px;
    /* display: table-column; */
}

@media (max-width: 768px) {
    img.moto-widget-image-picture.lazyloaded {
        width: 32%;
    }

    .moto-widget-menu .moto-widget-menu-list li {
        border-top: 1px solid;
    }

    li.moto-widget-menu-item {
        margin-left: 0px !important;
    }

    .moto-widget-menu .moto-widget-menu-list {
        display: grid;
        background-color: #1bb2b7;
        border: 1px solid;
        margin:0px !important;
    }

    div#socialBar {
        display: none;
    }

}

