
<link rel="stylesheet" href="https://qu3r1v212d48cje431eqa61a-wpengine.netdna-ssl.com/wp-content/plugins/tatsu/public/css/tatsu.min.css?ver=3.1.1">
<div id="steedex_app" class="tatsu-BJ-IEuzy4Q tatsu-section tatsu-clearfix" data-headerscheme="background--dark" data-title="">
    <div class="tatsu-section-pad clearfix" data-padding="{&quot;d&quot;:&quot;60px 0px 0px 0px &quot;}" data-padding-top="60px">
        <div class="tatsu-row-wrap tatsu-wrap tatsu-row-has-one-half tatsu-row-has-two-cols tatsu-medium-gutter tatsu-reg-cols tatsu-clearfix tatsu-SJxUVOMkE7">
            <div class="tatsu-row">
                <div class="tatsu-column tatsu-column-no-bg tatsu-one-half tatsu-column-align-top tatsu-column-image-none tatsu-column-effect-none tatsu-rJGrufyVQ" data-animation="fadeIn" data-parallax-speed="0" style="">
                    <div class="tatsu-column-inner">
                        <div class="tatsu-column-pad-wrap">
                            <div class="tatsu-column-pad">
                                <div class="tatsu-module tatsu-inline-text clearfix tatsu-SyKrdMyEm" data-animation="fadeIn">
                                    <style>
                                        .tatsu-SyKrdMyEm .tatsu-inline-text-inner{width: 100%;text-align: left;}.tatsu-SyKrdMyEm.tatsu-inline-text{margin: 0px 0px 20px 0px ;}
                                    </style>
                                    <div class="tatsu-inline-text-inner tatsu-align-center">
                                        <h3 class="moto-color5_5"><span style="color: #ffffff" class="moto-color5_5">Téléchargez notre application maintenant</span></h3>
                                    </div>
                                </div>
                                <div class="tatsu-module tatsu-inline-text clearfix tatsu-BJ98_zyE7" data-animation="fadeIn">
                                    <style>
                                        .tatsu-BJ98_zyE7 .tatsu-inline-text-inner{width: 85%;text-align: left;}@media only screen and (min-width:768px) and (max-width: 1024px) {.tatsu-BJ98_zyE7 .tatsu-inline-text-inner{width: 100%;}}@media only screen and (max-width: 767px) {.tatsu-BJ98_zyE7 .tatsu-inline-text-inner{width: 100%;}}
                                    </style>
                                    <div class="tatsu-inline-text-inner">
                                        <p style="color:white;">
                                            Tu n'as pas encore l'application SteedExApp ? Si tu possèdes un appareil Android, tu peux télécharger notre application sur Google Play.
                                        </p>
                                    </div>
                                </div>

                                <div class="tatsu-module tatsu-normal-button tatsu-button-wrap tatsu-H1SYOfyE7">
                                    <a class="tatsu-shortcode mediumbtn tatsu-button left-icon circular bg-animation-none" data-animation="fadeIn" data-gdpr-atts="{}" href="#" style=""><i class="tatsu-icon tatsu-icon-google-play"></i>Download Android</a>
                                    <style>
                                        .tatsu-H1SYOfyE7 .tatsu-button{background-color: #ffffff;color: rgba(88,138,240,1) ;}.tatsu-H1SYOfyE7.tatsu-button-wrap{margin: {"d":"0px 0px 10px 0px"};}
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="tatsu-column-bg-image-wrap">
                            <div class="tatsu-column-bg-image"></div>
                        </div>
                    </div>
                    <style>
                        .tatsu-row > .tatsu-rJGrufyVQ.tatsu-column{width: 50%;}.tatsu-rJGrufyVQ.tatsu-column > .tatsu-column-inner > .tatsu-column-pad-wrap > .tatsu-column-pad{padding: 40px 0px 40px 0px ;}.tatsu-rJGrufyVQ.tatsu-column > .tatsu-column-inner > .tatsu-column-overlay{mix-blend-mode: none;}.tatsu-rJGrufyVQ > .tatsu-column-inner > .tatsu-top-divider{z-index: 9999;}.tatsu-rJGrufyVQ > .tatsu-column-inner > .tatsu-bottom-divider{z-index: 9999;}.tatsu-rJGrufyVQ > .tatsu-column-inner > .tatsu-left-divider{z-index: 9999;}.tatsu-rJGrufyVQ > .tatsu-column-inner > .tatsu-right-divider{z-index: 9999;}.tatsu-rJGrufyVQ.tatsu-column{transform: translate3d(0px,0px, 0);}@media only screen and (max-width:1377px) {.tatsu-row > .tatsu-rJGrufyVQ.tatsu-column{width: 50%;}}@media only screen and (min-width:768px) and (max-width: 1024px) {.tatsu-row > .tatsu-rJGrufyVQ.tatsu-column{width: 50%;}}@media only screen and (max-width: 767px) {.tatsu-row > .tatsu-rJGrufyVQ.tatsu-column{width: 100%;}}
                    </style>
                </div>
                <div class="tatsu-column tatsu-column-no-bg tatsu-one-half tatsu-column-align-bottom tatsu-column-image-none tatsu-column-effect-none tatsu-HklfSdzkN7" data-animation="fadeIn" data-parallax-speed="0" style="">
                    <div class="tatsu-column-inner">
                        <div class="tatsu-column-pad-wrap">
                            <div class="tatsu-column-pad">
                                <div class="tatsu-single-image tatsu-module align-center tatsu-external-image tatsu-B1hzx7J4X" data-animation="fadeIn">
                                    <div class="tatsu-single-image-inner" style="width : 100%;">
                                        <div class="tatsu-single-image-padding-wrap" style=""></div><img alt="" class="tatsu-gradient-border" src="{{ asset('images/app.png') }}"></div>
                                    <style>
                                        .tatsu-B1hzx7J4X .tatsu-single-image-inner{max-width: 100%;}.tatsu-B1hzx7J4X.tatsu-single-image{transform: translate3d(0px,0px, 0);}
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="tatsu-column-bg-image-wrap">
                            <div class="tatsu-column-bg-image"></div>
                        </div>
                    </div>
                    <style>
                        .tatsu-row > .tatsu-HklfSdzkN7.tatsu-column{width: 50%;}.tatsu-HklfSdzkN7.tatsu-column > .tatsu-column-inner > .tatsu-column-overlay{mix-blend-mode: none;}.tatsu-HklfSdzkN7 > .tatsu-column-inner > .tatsu-top-divider{z-index: 9999;}.tatsu-HklfSdzkN7 > .tatsu-column-inner > .tatsu-bottom-divider{z-index: 9999;}.tatsu-HklfSdzkN7 > .tatsu-column-inner > .tatsu-left-divider{z-index: 9999;}.tatsu-HklfSdzkN7 > .tatsu-column-inner > .tatsu-right-divider{z-index: 9999;}.tatsu-HklfSdzkN7.tatsu-column{transform: translate3d(0px,0px, 0);}@media only screen and (max-width:1377px) {.tatsu-row > .tatsu-HklfSdzkN7.tatsu-column{width: 50%;}}@media only screen and (min-width:768px) and (max-width: 1024px) {.tatsu-row > .tatsu-HklfSdzkN7.tatsu-column{width: 50%;}}@media only screen and (max-width: 767px) {.tatsu-row > .tatsu-HklfSdzkN7.tatsu-column{width: 100%;}}
                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="tatsu-section-background-wrap">
        <div class="tatsu-section-background"></div>
    </div>
    <style>
        .tatsu-BJ-IEuzy4Q.tatsu-section{background: linear-gradient(45deg, rgba(86,123,240,1) 0%, rgba(97,205,244,1) 100%);}.tatsu-BJ-IEuzy4Q .tatsu-section-pad{padding: 60px 0px 0px 0px ;}.tatsu-BJ-IEuzy4Q > .tatsu-bottom-divider{z-index: 9999;}.tatsu-BJ-IEuzy4Q > .tatsu-top-divider{z-index: 9999;}
    </style>
</div>
