

<div  class="moto-widget moto-widget-block moto-bg-color_custom1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-spacing="aaaa" data-widget="block" style="">
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v" data-widget="spacer" data-widget-id="wid_1529056154_3oaqvr4t5">
                    <div class="moto-widget-spacer-block" style="height:10px"></div>
                </div>
                <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                <div class="moto-widget moto-widget-row row-gutter-0 moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="sasa" data-widget="row" style="">
                                    <div class="container-fluid">
                                        <div class="row" data-container="container">
                                            <div class="moto-widget moto-widget-row__column moto-cell col-xs-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                <div class="moto-widget moto-widget-image moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529055943_ojyinvul2">
                                                    <a class="moto-widget-image-link moto-link" data-action="page" href="index.html"><img alt="" class="moto-widget-image-picture lazyload" data-id="158" data-src="{{ asset('Front/steedex_template/images/logo steedex-white.png') }}" title=""></a>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-xs-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="sass" data-widget="text">
                                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <p class="moto-text_system_1"><a class="moto-link" data-action="page" data-id="1" href="index.html"><span class="moto-color5_5">STEEDEX</span><span class="moto-color2_3">.tn</span></a></p>
                                                        <p class="moto-text_system_2"><a class="moto-link" data-action="page" data-id="1" href="index.html"><span class="moto-color5_5">Express</span></a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                <div class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-center moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-widget="social_links_extended" data-widget-id="wid_1529056009_8vt5it2q2" id="wid_1529056009_8vt5it2q2">
                                    <ul class="moto-widget-social-links-extended__list">

                                        <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                            <a class="moto-widget-social-links-extended__link" href="https://www.facebook.com/SteedEx/" target="_self"><span class="moto-widget-social-links-extended__icon fa fa-facebook"></span></a>
                                        </li>

                                    </ul>
                                    <center class="centertext"><h5>Developed by safemediaweb</h5></center>


                                    <style type="text/css">
                                    </style>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="sasa" data-widget="text">
                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                        <p class="moto-text_218"><a href="{{ path('_confidentialite') }}">Politique de confidentialité</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v" data-widget="spacer" data-widget-id="wid_1529056163_gfs3gl8ot">
                    <div class="moto-widget-spacer-block" style="height:10px"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(".moto-widget-menu-toggle-btn").click(function(){
            var $this = $(this);
            if($this.data('clicked')) {
                $this.data('clicked', false);
                $("#wid_1529048814_11lc8jp4u" ).removeClass("moto-spacing-left-auto moto-widget-menu-mobile-open");

            }
            else {
                $this.data('clicked', true);
                $("#wid_1529048814_11lc8jp4u" ).addClass("moto-spacing-left-auto moto-widget-menu-mobile-open");
            }
        });



/*
        var on = false;
        var off = true;
        $( ".moto-widget-menu-toggle-btn" ).click(function() {
                on = true;
                off = false;

            if (on = true) {
                off = false;
                $("#wid_1529048814_11lc8jp4u" ).removeClass("moto-spacing-left-auto moto-widget-menu-mobile-open");
            }
            if (off = true) {
                on = false;

                $("#wid_1529048814_11lc8jp4u" ).addClass("moto-spacing-left-auto moto-widget-menu-mobile-open");
            }





        });*/

    </script>