
<div class="moto-cell col-sm-12" data-container="container">
    <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
        <div class="container-fluid">
            <div class="row" data-container="container">
                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                    <div class="moto-widget moto-widget-row row-gutter-0 moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="sasa" data-widget="row" style="">
                        <div class="container-fluid">
                            <div class="row" data-container="container">
                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-image moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529047700_9u2e72a11">
                                        <a class="moto-widget-image-link moto-link" data-action="page" href="/"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="157" data-src="./images/logo-steedex.png" title="" src="{{ asset('Front/steedex_template/images/logo-steedex.png') }}"></a>
                                    </div>
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="sass" data-widget="text">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_system_1"><a class="moto-link" data-action="page" data-id="1" href="/">Steedex<span class="moto-color1_3">.tn</span></a></p>
                                            <p class="moto-text_system_2"><a class="moto-link" data-action="page" data-id="1" href="/">Express</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="sasa" data-widget="row.column" style="">
                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                        <div class="container-fluid">
                            <div class="row" data-container="container">
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_system_12">S. Commercial:</p>
                                                                            <p class="moto-text_system_10"><a class="moto-link" data-action="call" href="tel:0021624268919">(+216)  24268919</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_system_12">S. Coursier:</p>
                                                                            <p class="moto-text_system_10"><a class="moto-link" data-action="call" href="tel:0021655870049">(+216)  55870049</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-container moto-container_content_5b236b461" data-bg-position="left top" data-container="container" data-css-name="moto-container_content_5b236b461" data-widget="container">
                                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                            <div class="container-fluid">
                                                <div class="row" data-container="container">
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                <p class="moto-text_system_12">Addresse:</p>
                                                                <p class="moto-text_system_10"> 8 rue Koweït Tunis 1002</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="navbar" class="seif0 menu moto-widget moto-widget-container moto-container_content_5b236ee02" data-bg-position="left top" data-container="container" data-css-name="moto-container_content_5b236ee02" data-moto-sticky="{ }" data-widget="container">
        <div  class="seif1 moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
            <div class="container-fluid">
                <div class="row" data-container="container">
                    <div class="seif2 moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                        <div class="collapse navbar-collapse seif3 moto-widget moto-widget-menu moto-preset-default moto-align-left moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu" id="wid_1529048814_11lc8jp4u">
                            <button class="moto-widget-menu-toggle-btn" href="#"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></button>
                            <ul class="seif4 moto-widget-menu-list moto-widget-menu-list_horizontal nav navbar-nav">
                                <li class="moto-widget-menu-item">
                                    <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" href="/">Acceuil</a>
                                </li>

                                <li class="moto-widget-menu-item">
                                    <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" href="#about_steedex">Qui sommes nous</a>
                                </li>

                                <li class="moto-widget-menu-item">
                                    <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" href="#services_steedex">Services</a>
                                </li>


                                <li class="moto-widget-menu-item">
                                    <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" href="#temoignage_steedex">Témoignage</a>
                                </li>
                                <li class="moto-widget-menu-item">
                                    <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" href="#contact_steedex">Contact</a>
                                </li>

                                <li class="moto-widget-menu-item">

                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" style="color: #ffffff; background-color: #ff6464;" href="{{ path('admin_homepage') }}">Tableau de bord</a>

                                        <ul class="moto-widget-menu-sublist">
                                            <li class="moto-widget-menu-item">
                                                <a href="/logout" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-active moto-link">Deconnexion</a>
                                            </li>

                                        </ul>
                                    {% else %}
                                        <a class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link" data-action="page" style="color: #ffffff; background-color: #14b5f0;" href="/login">Login</a>

                                    {% endif %}


                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                        <div class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small" data-preset="default" data-widget="social_links_extended" data-widget-id="wid_1529048823_bei7ptnuq" id="wid_1529048823_bei7ptnuq">
                            <ul class="moto-widget-social-links-extended__list">

                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                    <a class="moto-widget-social-links-extended__link" href="https://www.facebook.com/SteedEx/" target="_self"><span class="moto-widget-social-links-extended__icon fa fa-facebook"></span></a>
                                </li>

                            </ul>
                            <style type="text/css">
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>