

<div id="services_steedex" class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-spacing="aaaa" data-widget="block" style="">
    <a class="moto-anchor" id="services" name="services"></a>
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-bg-image="2018/06/mt-1497-home-bg1.jpg/index.html" data-bg-position="top" data-container="container" data-spacing="lala" data-widget="row.column" style="background-image:url(Front/steedex_template//mt-demo/67900/67965/mt-content/uploads/2018/06/mt-1497-home-bg1.jpg);background-position:top;background-repeat:no-repeat;background-size:cover;">
                                <div class="moto-widget moto-widget-container moto-container_content_5b2376fe6" data-bg-position="left top" data-container="container" data-css-name="moto-container_content_5b2376fe6" data-widget="container">
                                    <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v" data-widget="spacer" data-widget-id="wid_1529051189_89amku456">
                                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                                    </div>
                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="sasa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529050929_f890p1h9f">
                                                                        <span class="moto-widget-image-link"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="145" data-src="./mt-demo/67900/67965/mt-content/uploads/2018/06/mt-1497-home-benefit1.png" title="" src="{{ asset('Front/steedex_template/images/magasin.png') }}"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="asas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <h3 class="moto-text_system_7">Solution inter-magasins</h3>
                                                                            <p class="moto-text_system_11">&nbsp;</p>
                                                                            <p class="moto-text_system_11">Steedex propose une solution inter-magasins, votre entreprise se compose de plusieurs magasins…  Nous assurons la gestion du courrier entre vos magasins selon votre choix.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="sasa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529051047_hc2tpccoo">
                                                                        <span class="moto-widget-image-link"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="147" data-src="./mt-demo/67900/67965/mt-content/uploads/2018/06/mt-1497-home-benefit2.png" title="" src="{{ asset('Front/steedex_template/images/colis.png') }}"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="asas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <h3 class="moto-text_system_7">Distribution des documents</h3>
                                                                            <p class="moto-text_system_11">&nbsp;</p>
                                                                            <p class="moto-text_system_11">
                                                                                Steedex assure les transactions de vos documents chez les administrations ou autres</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet" data-preset="default" data-spacing="aaaa" data-visible-on="tablet" data-widget="spacer" data-widget-id="wid_1529051211_4skmab4cq">
                                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                                    </div>
                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="sasa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529051101_zpye6xidd">
                                                                        <span class="moto-widget-image-link"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="149" data-src="./mt-demo/67900/67965/mt-content/uploads/2018/06/mt-1497-home-benefit4.png" title="" src="{{ asset('Front/steedex_template/images/coursier.gif') }}"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="asas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <h3 class="moto-text_system_7">Service Coursier</h3>
                                                                            <p class="moto-text_system_11">&nbsp;</p>
                                                                            <p class="moto-text_system_11">Steedex vous propose un service  « coursier »  qui assure tous vos courses de vos fournitures  dans les grands surfaces, les librairies ou autres</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="sasa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529051101_yyhpqf5q8">
                                                                        <span class="moto-widget-image-link"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="148" data-src="./mt-demo/67900/67965/mt-content/uploads/2018/06/mt-1497-home-benefit3.png" title="" src="{{ asset('Front/steedex_template/images/factures.png') }}"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="asas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <h3 class="moto-text_system_7">Paiement des factures </h3>
                                                                            <p class="moto-text_system_11">&nbsp;</p>
                                                                            <p class="moto-text_system_11">Steedex assure le paiement de vos factures (Steg, Sonede, Télécom, Fiscale…)</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v" data-widget="spacer" data-widget-id="wid_1529051229_acxdz5oh3">
                                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-bg-image="2018/06/mt-1497-home-bg2_1.jpg/index.html" data-bg-position="top" data-container="container" data-spacing="lala" data-widget="row.column" style="background-image:url(/Front/steedex_template/images/background-colis.png);background-position:top;background-repeat:no-repeat;background-size:cover;">
                                <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                                    <div class="container-fluid">
                                        <div class="row" data-container="container">
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style=""></div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aasa" data-widget="text">
                                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_6"><span class="moto-color5_5">Nos Services</span></h2>
                                                        <p class="moto-text_normal">&nbsp;</p>
                                                        <p class="moto-text_normal"><span class="moto-color5_5">Steedex a pour but de vous faire gagner de l’argent et du temps de telle sorte que vous pourriez consacrer pleinement à votre activité principale sans même que vous vous déplacer..</span></p>
                                                    </div>
                                                </div>
                                                <div class="moto-widget moto-widget-button moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="button" data-widget-id="wid_1529051780_kd2b0c2d3">
                                                    <a class="moto-widget-button-link moto-size-medium moto-link" data-action="page" href="#"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Contactez nous</span></a>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
