
<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">


<script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
<script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<style>
    .owl-next, .owl-prev {
        /* padding: 12px !important; */
        width: 65px !important;
        font-size: 16px !important;
        background-color: #449c98 !important;
        /* top: 5px; */
        /* padding-bottom: 16px !important; */
        text-transform: capitalize;
        /* margin-bottom: 16px !important; */
    }

    div#demo2 {
        padding-bottom: 60px;
    }
    .section-title{text-align:center;margin:0 0 40px}.section-title h2{margin:0 0 10px}.separator::after{background:#666;content:"";height:5px;left:-1px;position:absolute;top:-1px;width:30px}.separator{background-color:#ccc;border:1px solid #ccc;display:block;height:5px;margin:0 auto;position:relative;width:60px}.title-border-left::after{content:"";position:absolute;width:50px;border:1px solid #033d75}

    .testimonials-wrapper .owl-dots{display:none}

    .testimonials-wrapper{
        background: url(https://ak7.picdn.net/shutterstock/videos/7328347/thumb/1.jpg) left top rgba(0,0,0,0);
        /* min-height: 100vh; */
        /* background-position: unset; */
        /* padding: 70px 0 80px; */
        /* position: relative; */
        /* background-color: #cccccc; */
        /* height: 500px; */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
    }
    .inner-page-wrapper.testimonials-wrapper{background:0 0}.inner-page-wrapper.testimonials-wrapper .owl-nav{position:absolute;right:0;top:-30px;z-index:99}.inner-page-wrapper.testimonials-wrapper .owl-nav>div{border:2px solid #333;color:#333}.testimonials-wrapper .section-title h2{margin:0 0 10px;color:#fff}.testimonials-wrapper .owl-nav{position:absolute;right:0;top:-80px;z-index:99}.testimonials-wrapper .owl-next,.testimonials-wrapper .owl-prev{position:relative;height:38px;width:38px;line-height:33px;text-align:center;font-size:22px;color:#fff;margin-left:10px;display:inline-block;border:2px solid #fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.testimonials-wrapper.style-two .owl-next,.testimonials-wrapper.style-two .owl-prev{color:#444;border-color:#444}.testimonials-wrapper .owl-carousel .owl-stage-outer{padding-top:50px}.testimonial-block{position:relative}.testimonial-block .inner-box{position:relative;padding:0 30px 30px;background-color:#444}.testimonial-block .inner-box .image{position:relative;width:100px;height:100px;border-radius:50%;overflow:hidden;margin-top:-50px;margin-bottom:25px;display:inline-block}.testimonial-block .inner-box .content{position:relative}.testimonial-block .inner-box .content i{position:absolute;right:0;top:-35px;font-size:30px;font-style:italic;color:#da5e00}.testimonial-block .inner-box .content .author-info{position:relative;font-size:20px;font-weight:500;color:#fff}.testimonial-block .inner-box .content span{position:relative;color:#aaa;font-size:14px}.testimonial-block .inner-box .content .text{position:relative;margin-top:20px;color:#aaa;font-size:15px}.testimonials-wrapper .owl-nav .owl-next{right:auto}.testimonials-wrapper .owl-carousel .owl-item img{background:#333}.testimonials-wrapper .owl-theme .owl-nav [class*=owl-]{border:2px solid #fff;color:#fff}.owl-theme .owl-nav [class*=owl-]:hover{border-color:#da5e00!important;color:#da5e00!important;background:0 0}@media only screen and (max-width:991px){.testimonials-wrapper .owl-dots{display:block}}
</style>
<section class="testimonials-wrapper" id="temoignage_steedex">
    <div class="container">
        <div class="moto-widget-text-content moto-widget-text-editable">
            <h2 class="moto-text_system_6" style="text-align: center;">Témoignages</h2>
        </div>

        <div id="demo2" class="two-item-carousel owl-carousel owl-theme">
            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image"> <img src="https://i.ibb.co/BtD6Qgx/Clients-Says1.png" alt="" /> </div>
                    <div class="content">
                        <i class="fa fa-quote-right"></i>
                        <div class="author-info">Lorem Ipsum <span>/ CEO at Lorem Ipsum</span></div>
                        <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                    </div>
                </div>
            </div>
            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image"> <img src="https://i.ibb.co/jDxHfwJ/Clients-Says2.png" alt="" /> </div>
                    <div class="content">
                        <i class="fa fa-quote-right"></i>
                        <div class="author-info">Lorem Ipsum <span>/ Managerment at Lorem Ipsum</span></div>
                        <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                    </div>
                </div>
            </div>
            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image"> <img src="https://i.ibb.co/BtD6Qgx/Clients-Says1.png" alt="" /> </div>
                    <div class="content">
                        <i class="fa fa-quote-right"></i>
                        <div class="author-info">Lorem Ipsum <span>/ CEO at Lorem Ipsum</span></div>
                        <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                    </div>
                </div>
            </div>
            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image"> <img src="https://i.ibb.co/jDxHfwJ/Clients-Says2.png" alt="" /> </div>
                    <div class="content">
                        <i class="fa fa-quote-right"></i>
                        <div class="author-info">Lorem Ipsum <span>/ Managerment at Lorem Ipsum</span></div>
                        <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#demo2').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })
</script>