{% extends "Template.html.twig" %}
    {% block title %}Modifier Utilisateure{% endblock %}

{% block body %}

    <table class="table">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Update">

        {{ form_end(form) }}

    </table>
{% endblock %}
